.featured {
  height: 90vh;
  position: relative;
  color: white;
  .category {
    position: absolute;
    top: 140px;
    left: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    select {
      cursor: pointer;
      border: 1px solid white;
      background-color: black;
      color: white;
      margin-left: 20px;
      padding: 5px;
      border-radius: 3px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    margin-right: 0;
    object-fit: cover;
  }
  .info {
    width: 35%;
    position: absolute;
    left: 80px;
    bottom: 170px;
    .moviehead {
      font-size: 65px;
      font-weight: 800;
      text-shadow: 5px 5px 10px black;
    }
    .desc {
      font-size: 20px;
      font-weight: 800;
      text-shadow: 5px 5px 10px black;
    }
    .buttons {
      display: flex;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bolder;
        padding: 10px 30px 10px 20px;
        margin-right: 10px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        .icon {
          margin: 0 5px 0 5px;
        }
        &.more {
          background-color: grey;
          color: white;
        }
      }
    }
  }
}
